name: "Build Vilicus Images"

on:
  push:
    branches:
      - main
  schedule:
    - cron:  '1 1 * * *'

jobs:
  update-images:
    runs-on: ubuntu-latest
    timeout-minutes: 600
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@v3
        with:
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'

      - name: Checkout branch
        uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
     
      - name: Build Registry Image
        run: |
          make build-registry-image
     
      - name: Build Clair Image
        run: |
          make build-clair-image
     
      - name: Build Anchore Image
        run: |
          make build-anchore-image
     
      - name: Build Trivy Image
        run: |
          make build-trivy-image
      
      - name: Build Vilicus Image
        run: |
          make build-vilicus-image

      - name: Push Images
        run: |
          make push-images